- user = @notification.user
- project = @notification.project

- project_link = project_by_slug_url(permalink: project.permalink)
- company_name = CatarseSettings[:company_name]

|Olá, #{user.name}!
br
br
| Obrigado por iniciar o processo de inscrição de um projeto no #{company_name}! 
| Este é apenas o passo inicial e quer dizer que você acabou de criar seu 
| <strong>#{link_to 'rascunho de projeto', project_link, target: '__blank'}</strong> no #{company_name}.
br/
br/
| As dicas fundamentais para estruturar o seu projeto podem ser encontradas em 
| diversos artigos na nossa #{link_to "Central de Suporte do #{company_name}", CatarseSettings[:support_forum], target: '__blank'}. 
| Ela pode ser utilizada como fonte de consulta para a maioria das dúvidas que você terá antes, durante e após a sua campanha. 
br/
| Um abraço,
br/
= company_name
