- project = @notification.project

- project_link = project_by_slug_url(permalink: project.permalink)
- company_name = CatarseSettings[:company_name]

| Uhuu, #{project.user.name},
br/
| Parabéns pela campanha!
br/
br/
| O projeto #{link_to project.name, project_link} foi financiado!
br/
br/
| Depois que você comemorar com vontade o término bem sucedido da sua campanha de arrecadação,
| é hora de voltar ao trabalho! 
br/
br/
| Se ficou com alguma dúvida, responda a esta mensagem diretamente ou fale conosco através do e-mail #{mail_to CatarseSettings[:email_projects]}
br/
br/
| Um abraço apertado de parabéns!
br/
= company_name
